<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../controllers/controller.js"></script>
    <script src="../models/propulsor.js"></script>
    <script src="../models/rocket.js"></script>
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>

    <div class="wrapper">
        <div class="container">
            <button onclick="fixtureData1()">Crear 32WESSDS</button>
            <button onclick="fixtureData2()">Crear LDSFJA32</button>
        </div>
        <div class="container">
            <button onclick="acelerarCohete(0)">Acelerar cohete 1</button>
            <button onclick="frenarCohete(0)">Frena cohete 1</button>
        </div>
        <div class="container">
            <button onclick="acelerarCohete(1)">Acelerar cohete 2</button>
            <button onclick="frenarCohete(1)">Frena cohete 2</button>
        </div>
        <div class="container">
            <button onclick="mostrarChoete(0)">Mostrar cohete 1</button>
            <button onclick="mostrarChoete(1)">mostrar cohete 2</button>
        </div>
        <div class="container">
            <button onclick="mostrarTodos()">mostrar cohetes</button>  
        </div>
    </div>

    
    <div class="screen" id="screen" style=" position: relative; ">
        <p id="velocidad"></P>
        <p id="velocidad1"></P>
    </div>
    <div class="info" id="info"></div>
    <div class="info" id="infoAll"></div>
    
</body>
</html>